{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["last 2 versions", ">= 5% in KR"] },
        "modules": false,
        /**
            useBuiltIns('usage' | 'entry' | false, 기본값은 false.)
            'usage': 실제 소스코드에서 사용하여 필요한 폴리필만 포함하도록 트랜스폼한다.
            'entry': 지정된 환경에서 필요한 폴리필은 일단 포함하도록 트랜스폼한다.
          */
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ]
}
